@import '~sass-web-fonts/web-fonts';
$mdi-font-path: '~@mdi/font/fonts';

// Google Web Fonts
/* stylelint-disable-next-line function-comma-newline-after */
@import url(web-fonts-url(('Roboto': (300, 400, 500, 700))));
@import '~@mdi/font/scss/materialdesignicons';

.table-toolbar {
  background: #fff;
}

.archived-checkbox {
  &.v-input--checkbox {
    justify-content: flex-end;
  }

  .v-input__slot {
    flex-direction: row-reverse;

    .v-input--selection-controls__input {
      justify-content: center;
      margin-right: 0;
    }

    .v-icon {
      font-size: 1.125rem;
    }

    label {
      font-size: 0.875rem;
    }
  }
}
