@import '~bulma/bulma';
// Google Web Fonts
@import '~sass-web-fonts';
/* stylelint-disable function-comma-newline-after */
$web-font-path: web-fonts-url(('Roboto': (300, 400, 500, 700)));
/* stylelint-enable */
$mdi-font-path: '~mdi/fonts';
/* stylelint-disable-next-line at-rule-empty-line-before */
@import '~mdi/scss/materialdesignicons';

.system-font-stack {
  /* stylelint-disable value-list-comma-newline-after */
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* stylelint-enable */
}
